#grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "one  one  one one"
    "two  three four four"
    "two five five six"
    "two seven eight nine"
    "two ten  ten  ten";
	/* background-color:green; */
	gap:10px;
	padding:10px;
	height:100vh;
	
.item{
	background-color:green;
	color:white
}
.item-one {
	grid-area : one;
}
.item-two {
	grid-area : two;
}
.item-three {
	grid-area : three;
}
.item-four{
	grid-area : four;
}
.item-five {
	grid-area : five;
}
.item-six {
	grid-area : six;
}
.item-seven {
	grid-area : seven;
}
.item-eight {
	grid-area : eight;
}
.item-nine {
	grid-area : nine;
}
.item-ten {
	grid-area : ten;
}

	
	
}


